// 页面宽度
$width: 1200px;

// 颜色
$primary-color: #20242c;
$primary-color-hover: #292e38;
$secondary-color: #d4282d;
$secondary-color-hover: #e82c32;

// 字体颜色
$font-primary-color: #333;
$font-secondary-color: #666;
$font-third-color: #999;
$font-fourth-color: #ddd;
$font-link-color: #69c;
$font-link-hover-color: #7ae;

// 其他颜色
$dividing-line-color: #ededed;
// $stroke-color: #ededed;
$form-header-color: #f5f5f5;
$white-color: #fff;
$bg-color: #ddd;