@import '../../assets/style/val.scss';
$color: #999;
$height: 48px;
.search {
  display: inline-block;
  border: 0;
  .input,
  .btn{
    vertical-align: middle;
  }
  .input{
    width: 324px;
    height: $height;
    padding: 18px 0 18px 20px;
    line-height: $height;
    border-width: 1px 0 1px 1px;
    border-color: $color;
    border-style: solid;
    font-size: 14px;
    box-sizing: border-box;
  }
  .btn{
    display: inline-block;
    padding: 0 32px;
    font-size: 16px;
    height: $height;
    line-height: $height;
    color: #fff;
    background-color: $secondary-color;
  }
}