@import '../../assets/style/val';
@import '../../assets/icon/icon';
.orderResult{
  width:350px;
  margin:100px auto 143px auto;
  text-align: center;
  color:$font-secondary-color;
  .tipsMsg{
    font-size:36px;
    color:$font-primary-color;
  }
  button{
    color:$font-primary-color;
  }
  .orderPrice{
    font-size:18px;
    span{
      font-family: MicrosoftYaHei-Bold;
      color:$secondary-color;
    }
  }
  .mt80{
    margin-top:80px;
  }
}
