@import "../../assets/style/val.scss";
//@import "../../assets/style/common.scss";
@import "../../assets/icon/icon.scss";
.show{
  display:block;
}
.hidden{
  display:none;
}
.wrap_address{
  border:1px solid $dividing-line-color;
  p{
    margin:1rem 0;
  }
  a{
    text-decoration: none;
    color:$font-link-color;
  }
  .address{
    background: $white-color;
    padding:12px 20px;
    .address_tag{
      padding:15px 0;
      border-bottom:1px dashed $dividing-line-color;
      color:$font-secondary-color;
      button{
        margin-left:22px;
      }
      .addressOpt{
        height: 32px;
        line-height: 32px;
        a{
          border-right:1px solid $dividing-line-color;
          padding:0 21px;
        }
        a:last-child{
          border:none;
        }
      }
    }
    .address_content{
      padding:15px 0;
    }
    .address_width{
      width:70px;
      color:$font-third-color;
    }
    .address_name,.address_location{
      width:170px;
      color:$font-secondary-color;
    }
    .address_location{
      margin-right:100px;
      width:310px;
    }
    .icon-location{
      margin-right:6px;
      margin-left:10px;
    }
  }
}
.address_item{
  border:1px solid $dividing-line-color;
  padding:0 30px;
  color:$font-secondary-color;
  margin:5px auto ;
  cursor:pointer;
  .address{
    padding:0;
  }
  &.active{
    border:2px solid $secondary-color;
  }
  table{
    width:100%;
    td{
      padding:.5rem 0;
      vertical-align: top;
    }
    td:nth-child(2n+1){
      color:$font-third-color;
      width:70px;
    }
    td:nth-child(2n){
      color:$font-secondary-color;
    }
  }
}
.editor_address{
  width: calc(#{$width} - 62);
  padding:0 30px 0 30px;
  border:1px solid $dividing-line-color;
  .cascade_select{
    margin-right:10px;
  }
  .wrap_content{
    width:1130px;
    padding:0 10px;
    border-bottom:1px dashed $dividing-line-color;
  }
  .form{
    .row{
      margin:14px 0;
      &:after{
        content:'';
        height:0;
        display:block;
        clear:both;
      }
      .label,.wrap_input{
        float:left;
      }
      .label{
        width:70px;
        height:36px;
        line-height:36px;
        margin-right:21px;
        color:$font-third-color;
      }
      .mr_100{
        margin-right:100px;
      }
      .mr_30{
        margin-right:30px;
      }
      .wrap_input{
        color:$font-secondary-color;
        textarea{
          width:498px;
          height:68px;
          border:1px solid $font-fourth-color;
          outline: none;
          padding:10px;
          resize:none;
        }
        .input{
          width:160px;
        }
      }
    }
  }
}
