@import "../../assets/style/val";
@import '../../assets/icon/icon';

.footer{
	font-family: 'MicrosoftYaHei';
	font-size: 14px;
	text-align: center;
	color:$font-third-color;
	margin: 107px 0 394px 0; 
}