@import "../../assets/style/val";
@import '../../assets/icon/icon';

.prdDetBox{
	width: 1191px;
	margin: 30px auto;
	.prdBox{
		height: 450px;
	}
  .PrdDetails{
		width: 100%;
		overflow: hidden;
    .bigImgBox, .smlImgBox, .dtlBox{
        float: left;
    }
    .bigImgBox{
			box-sizing: border-box;
			border: solid 1px $bg-color;
			width:450px;
			height: 450px;
			img{
					width: 100%;
					height: 100%;
			}
		}
		.smlImgBox{
			width: 72px;
			box-sizing: border-box;
			height: 450px;
			margin-left: 20px;
			.smlImgDiv{
				width: 72px;
				height: 72px;
				box-sizing: border-box;
				border: solid 1px $bg-color;
				margin-bottom: 8px;
				img{
					width: 100%;
					height: 100%;
				}
			}
			.prevArrow{
				margin-bottom: 10px;
			}
			.prevArrow.disabled{
				pointer-events: none;
				background: url(../prdDetails/images/arrow.png) no-repeat;
				background-position: 0px 0px;
			}
			.prevArrow:hover{
				background: url(../prdDetails/images/arrow.png) no-repeat;
				background-position: -160px 0px;
			}
			.scrollBox{
				height: 400px;
   		  overflow: hidden;
			}
			.prevArrow, .nextArrow{
				width: 72px;
				height: 20px;
				background: url(../prdDetails/images/arrow.png) no-repeat;
				background-position: -80px 0px;
			}
			.nextArrow{
				margin-top: 2px;
				background-position: -80px -30px;
			}
			.nextArrow:hover{
				background: url(../prdDetails/images/arrow.png) no-repeat;
				background-position: -160px -30px;
			}
			.nextArrow.disabled{
				pointer-events: none;
				background: url(../prdDetails/images/arrow.png) no-repeat;
				background-position: 0px -30px;
			}
		}
		.dtlBox{
			margin-left: 68px;
			width: 580px;
			height: 450px;
			color: $font-third-color;
			font-size: 14px;
			.red{
				font-size: 18px;
				color: $secondary-color;
			}
			.prdInfoTitle{
				font-size: 20px;
				margin: 21px 0px 0px;
				line-height: 24px;
				color: $font-primary-color;
				height: 24px;
   				overflow: hidden;
			}
			.prdInfoBox{
				width: 550px;
				height: 160px;
				box-sizing: border-box;
				background: $form-header-color;
				margin: 51px 0px 0px;
				padding: 0 10px;
				.label{
					display: inline-block;
					width: 80px;
				}
				.prdInfoPrice{
					height: 80px;
					box-sizing: border-box;
					border-bottom: dashed 1px $bg-color;
					line-height: 80px;
					.priceBox,{
						.prdInfoPriceNum{
							font-size: 28px;
						}
					}	
				}
				.Spec, .prdBrand{
					height: 40px;
					line-height: 40px;
				}
				
			}
			.prcsBox{
				width: 550px;
				height: 157px;
				box-sizing: border-box;
				padding: 0 10px;
				margin: 41px 0 0;
				.label{
					width: 80px;
					display: inline-block;
				}
				.numBox{
					height: 32px;
					box-sizing: border-box;
					line-height: 32px;
					.label, .handleBox{
						float: left;
					}
					.handleBox{
						display: inline-block;
						.desc, .incre, .prcsCount{
							float: left;
						}
						.desc, .incre{
							border: solid 1px $dividing-line-color;
							display: inline-block;
							height: 32px;
							width: 36px;
							box-sizing: border-box;
							line-height: 32px;
							text-align: center;
						}
						.prcsCount{
							width: 64px;
							height: 32px;
							text-align: center;
							box-sizing: border-box;
							line-height: 32px;
							border: none;
							border-top:solid 1px $dividing-line-color;
							border-bottom: solid 1px $dividing-line-color;
							vertical-align:middle;
						}
					}
				}
				.totalPriceBox{
					height: 58px;
					line-height: 58px;
				}
				.buttonBox{
					height: 50px;
					margin-top: 15px;
					
					.add-cart{
						margin-right: 20px;
					}
				}
			}


		}
    
	}
	.dtlDescBox{
		width: 1190px;
		.descTitle{
			margin-top: 64px;
			height: 50px;
			background-color: $form-header-color;
			.titleText{
				display: inline-block;
				width: 180px;
				height: 50px;
				text-align: center;
				line-height: 50px;
				background-color: $white-color;
				box-sizing: border-box;
				border-top: 2px solid $secondary-color;
			}
		}
		.dtlDesc{
			box-sizing: border-box;
			padding-left: 42px;
			padding-bottom: 18px;
			border-bottom:1px solid $bg-color; 
			margin-bottom: 18px;
			margin-top: 10px;
			color: $font-secondary-color;
			font-size: 14px;
			.dtlBrand, .dtlOtherBox{
				margin: 0;
				padding: 10px 0 15px;
				overflow: hidden;
			}
			.dtlOtherBox li{
				list-style: none;
				width: 215px;
				height: 20px;
				line-height: 20px;
				float: left;
				margin-bottom: 5px;
			}
		}
		.imgListBox{
			width: 100%;
			box-sizing: border-box;
			padding: 0 24px;
			margin-bottom: 224px;
			.lagImgBox, .lagImg{
				width: 100%;
			}
		}
	}

}