@import '../../assets/style/val';
@import '../../assets/style/common';
.shop_cart{
  width: $width;
  padding-top:30px;
  margin:0 auto;
  .w164{
    width:163px;
    text-align: center;
    &:last-child{
      text-align: right;
    }
  }
  .w78,.w164{
    display:table;
    height:100px;
    &>div{
      display: table-cell;
      vertical-align: middle;
    }
  }
  .price{
    color:$secondary-color;
  }
  .align_right{
    text-align:right;
  }
  .tableHeader,.tableFooter{
    padding:20px 30px;
    background:$form-header-color;
    .mr-20{
      margin-right:20px;
    }
    li{
      height:20px;
      line-height: 20px;
    }
    .goods_info{
      width:406px;
    }
  }
  .goods_list{
    ul{
      padding:0;
      margin:0;
    }
    li{
      padding:20px 30px;
      border:1px solid $dividing-line-color;
      &.checked{
        background:rgba(212,40,45,0.03);
      }
      .w78{
        width:78px;
      }
    }
  }
  .tableFooter{
    padding:0 0 0 30px;
    li{
      height:60px;
      line-height: 60px;
    }
    li.submit{
      &>div{
        margin-right:20px;
        color:$font-third-color;
        font-size:12px;
        &>span{
          color:$font-secondary-color;
          margin-left:5px;
        }
      }
      button{
        width:200px;
        margin-left:30px;
      }
      &>div.price{
        font-size:14px;
        color:$font-secondary-color;
        &>span{
          font-size:24px;
          font-family: MicrosoftYaHei-Bold;
          color:$secondary-color;
          vertical-align: middle;
        }
      }
    }
  }
}
