@import '../style/val';
.icon{
  display:inline-block;
  height:16px;
  width:16px;
}
.icon-biger{
  height:120px;
  width:120px;
  display:inline-block;
}
.icon-collection{
  background:url('./images/icon_collection.png') no-repeat 0 0;
  background-size:cover;
  margin-right:5px;
  height:15px;
}
.icon-location{
  background:url('./images/icon_default_address.png') no-repeat 0 0;
  background-size: cover;
}
.icon_success{
  background:url('./images/ordering_success.png') no-repeat 0 0;
  background-size: cover;
}
.icon_fail{
  background:url('./images/ordering_failed.png') no-repeat 0 0;
  background-size:cover;
}
