@import "../../assets/style/val";
@import '../../components/form/input/style';
.ordersItem{
  margin-bottom: 20px;
}
.ordersItem:last-child{
  // margin-bottom: auto;
}
.orderState{
  width: $width;
  padding: 0;
  margin: 10px auto;
  background-color: $form-header-color;
}
.orderState > li{
  display: inline-block;
  width: 180px;
  height: 48px;
  line-height: 48px;
  border-top: 2px solid $form-header-color;
  font-size: 18px;
  color: $font-secondary-color;
  text-align: center;
  cursor: pointer;
}
.orderState > li.active,
.orderState > li:hover{
  border-color: $secondary-color;
  background-color: $white-color;
  color: $font-primary-color;
}
.orderState > li.active{
  cursor: default;
}
.condition {
  width: $width;
  margin: 10px auto;
  height: 60px;
  display: flex;
  align-items: center;
  // line-height: 60px;
}
.condition label,
.condition .label{
  color: $font-third-color;
  margin-left: 30px;
}
.condition label:last-child{
  // margin-left: auto;
}

.pickdate,
.condition .label{
  display: inline-block;
}

.pickdate input[type=text]{
  width: 140px;
}
