{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "plugins": [
    "babel",
    "promise"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "Action": false,
    "__RUN_IN_PRD__": false,
    "__DEV__": false,
    "__PROD__": false,
    "__DEBUG__": false,
    "__DEBUG_NEW_WINDOW__": false,
    "__BASENAME__": false,
    "__NOT_ENCRYPT__": false,
    "__RUN_IN_ENV__": false
  },
  "rules": {
    "key-spacing"          : "off",
    "jsx-quotes"           : [2, "prefer-single"],
    "max-len"              : [2, 120, 0],
    "object-curly-spacing" : [2, "always"]
  }
}
