@import "../../assets/style/val";
@import '../../assets/icon/icon';

.pagination{
	user-select: none;
    width: 100%;
    text-align: center;
    margin: 30px 0 130px;
    .prev, .next{
        display: inline-block;
        width: 80px;
        height: 40px;
        font-size: 12px;
        color: $font-primary-color;
        box-sizing: border-box;
        border: solid 1px $dividing-line-color; 
        line-height: 40px;
    }
    .prev:hover, .next:hover, .num:hover{
        border: solid 1px $secondary-color;
        color: $secondary-color;
    }
    .prev{
        margin-right: 10px;
        padding-left: 16px;
        background: url(./images/prev.png) no-repeat;
        background-position:12px 15px;
    }
    .prev:hover{
        background: url(./images/prevHover.png) no-repeat;
        background-position:12px 15px;
    }
    .next{
        margin-left: 5px;
        padding-right: 16px;
        background: url(./images/next.png) no-repeat;
        background-position:60px 15px;
    }
    .next:hover{
        background: url(./images/nextHover.png) no-repeat;
        background-position:60px 15px;
    }
    .noHover{
        width: 40px;
        height: 40px;
        margin-right: 5px;
        display: inline-block;
        text-align: center;
    }
    .num{
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 5px;
        box-sizing: border-box;
        border: solid 1px $dividing-line-color;
        line-height: 40px;
    }
    .num.current{
        color: $secondary-color;
        border: none;
    }
    .noHover{
        background-color: $white-color;
				pointer-events: none;
		}
		.prev.disable{
			color: $bg-color;
			background: url(./images/prevDisabled.png) no-repeat;
      background-position:12px 15px;
			border: solid 1px $dividing-line-color;
			pointer-events: none;
		}
		.next.disable{
			color: $bg-color;
			background: url(./images/prevDisabled.png) no-repeat;
			background-position:12px 15px;
			border: solid 1px $dividing-line-color;
			pointer-events: none;
		}
}