.toast_loading {
  background: url('./sunshine.gif') 100% center no-repeat;
  width: 60px;
  height: 60px;
  background-size: cover;
  margin-left: -30px;
  left: 50%;
  top: 35%;
  position: fixed;
  z-index: 5000;
}

.toast-mask {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.01);
}