@import '../../../assets/style/val';
// @import '../../../assets/style/common';
@import '../../../assets/icon/icon';
@import '../item/style';
.wrap_item{
  border:1px solid $dividing-line-color;
  width: $width;
  margin:0 auto;
  .title{
    padding:18px 40px 18px 30px;
    background:$form-header-color;
    color:$font-secondary-color;
    .goods_name{
      width:408px;
    }
    .w231{
      width:231px;
      text-align:center;
      &:last-child{
        text-align:right;
      }
    }
  }
  .item_container{
    padding:18px 40px 18px 30px;
  }
  .remark{
    padding:24px 30px;
    border-top:1px solid $dividing-line-color;
    .remark_input{
      width:260px;
      padding:0 1rem;
    }
    .remark_text{
      font-family: MicrosoftYaHei-Bold;
      color:$font-primary-color;
    }
  }
}
