@import '../../../assets/style/val';
/**
 * button
 * size   large normal small (height: 60px 48px 32px)
 * type  primary secondary
 */
.btn{
  padding: 0 16px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  font-weight: 400;
  white-space: nowrap;
  background-image: none;
  touch-action: manipulation;
  display: inline-block;
  outline: none;
}

.btn-txt{
  font-style: normal;
}

.btn-txt,
.icon,
.tip{
  vertical-align: middle;
  display: inline-block;
}

.large{
  height: 60px;
  // line-height: 60px;
  padding: 0 64px;
}

.large .btn-txt{
  font-size: 18px;
}

.normal{
  height: 48px;
  // line-height: 48px;
  padding: 0 32px;
}

.normal .btn-txt{
  font-size: 16px;
}

.small{
  height: 32px;
  // line-height: 32px;
  padding: 0 16px;
  font-size: 14px;
}

.small .btn-txt{
  font-size: 14px;
}

.smaller{
  height: auto;
  line-height: 1;
  padding: 0;
}

.smaller .btn-txt{
  font-size: 12px;
}

.smaller .icon{
  margin-right: 6px;
}

.primary{
  background-color: $primary-color;
  color: $white-color;
  border-color: $primary-color;
}

.primary:hover{
  background-color: $primary-color-hover;
  color: $white-color;
  border-color: $primary-color-hover;
}

.secondary{
  background-color: $secondary-color;
  color: $white-color;
  border-color: $secondary-color;
}

.secondary:hover{
  background-color: $secondary-color-hover;
  color: $white-color;
  border-color: $secondary-color-hover;
}

.default{
  background-color: $white-color;
  color: $font-secondary-color;
  border-color: $dividing-line-color;
}

.default:hover{
  background-color: $white-color;
  color: $secondary-color;
  border-color: $secondary-color;
}

.m-1{
  background-color: $form-header-color;
  color: $font-third-color;
  border-color: $form-header-color;
}

.m-1:hover{
  background-color: $form-header-color;
  color: $secondary-color;
  border-color: $form-header-color;
}

.m-2{
  background-color: $dividing-line-color;
  color: $font-primary-color;
  border-color: $dividing-line-color;
}

.m-2:hover{
  background-color: $white-color;
  color: $secondary-color;
  border-color: $secondary-color;
}

.m-3{
  background-color: $dividing-line-color;
  color: $font-primary-color;
  border-color: $bg-color;
}

.m-3:hover{
  background-color: $white-color;
  color: $secondary-color;
  border-color: $secondary-color;
}

.m-4{
  background-color: $white-color;
  color: $font-primary-color;
  border-color: $white-color;
}

.m-4:hover{
  background-color: $white-color;
  color: $secondary-color;
  border-color: $white-color;
}

.disabled,
.disabled:hover{
  background-color: $bg-color;
  color: $font-third-color;
  border-color: $dividing-line-color;
  cursor: not-allowed;
}

.icon{
  background-position: center;
  margin-right: 13px;
}

.icon-back{
  width: 4px;
  height: 10px;
  background-image: url('./images/back-arrow.png');
}

.btn:hover .icon-back{
  background-image: url('./images/back-arrow-hover.png');
}

.icon-cart{
  width: 17px;
  height: 17px;
  background-image: url('./images/cart.png');
}

.icon-collect{
  width: 18px;
  height: 16px;
  background-image: url('./images/collect.png');
}

.icon-order{
  width: 12px;
  height: 16px;
  background-image: url('./images/icon-order.png');
}

.icon-sign-out{
  width: 15px;
  height: 13px;
  background-image: url('./images/icon-sign-out.png');
}

.icon-start-collect{
  width: 16px;
  height: 15px;
  background-image: url('./images/star-uncollect.png');
}

.btn:hover .icon-start-collect{
  background-image: url('./images/star-collected.png');
}

.icon-start-collect-1{
  width: 16px;
  height: 15px;
  background-image: url('./images/star-uncollect-1.png');
}

.btn:hover .icon-start-collect-1{
  background-image: url('./images/star-collected-1.png');
}

.icon-delete{
  width: 14px;
  height: 16px;
  background-image: url('./images/icon-delete.png');
}

.btn:hover .icon-delete{
  background-image: url('./images/icon-delete-hover.png');
}

.tipWrapp{
  position: relative;
  // z-index: -1;
  top: -5px;
  margin-left: 3px;
}

.tip{
    
    font-style: normal;
    line-height: 0.6;
    padding: 4px;
    font-size: 12px;
    background-color: $secondary-color;
    border-radius: 7px;
    color: $white-color;
}

