@import '../../assets/style/val.scss';
// @import '../../assets/style/common.scss';
.banner{
  width: 100%;
  height: 480px;
  background-color: #5382a0;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  .banner-bg{
    margin: 0;
    padding: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../../assets/images/banner.png)
  }
  .banner-content{
    width: $width;
    height: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 10;
    // background: rgba($color: #000000, $alpha: 0.1)
  }
  .classify-nav{
    width: 285px;
    height: 440px;
    background-color: rgba(255, 255, 255, 0.98);
    opacity: 0.98;
    box-sizing: border-box;
    padding-top: 20px;
    margin-top: 20px;
    .title{
      padding: 0;
      margin: 0;
      height: 80px;
      background: #fff;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 20px;
      position: relative;
      &::after{
        display: block;
        position: absolute;
        width: 255px;
        height: 1px;
        content: ' ';
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        left: 30px;
        bottom: 0;
      }
      i{
        background-image: url(../../assets/icon/images/menu_icon_sprite.png);
        background-position: -6px -9px;
        background-repeat: no-repeat;
        width: 18px;
        height: 15px;
        display: inline-block;
        margin: 0 25px 0 37px;
        padding: 0;
      }
      h3{
        font-weight: normal;
        color: #333;
      }
    }
    ul{
      display: block !important;
      height: 330px !important;
      top: 0 !important;
      border: none !important;
      position: relative !important;
      box-shadow: none !important;
      padding-top: 0 !important;
      div{
        top: -100px !important;
      }
    }
  }
}
.new-goods{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background: #F5F5F5;
  .goods-container{
    width: $width;
    margin: 0 auto;
    padding: 84px 0 0 0;
    .new-goods-header{
      text-align: center;
      h2{
        font-size: 36px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0px;
        letter-spacing: 0px;
        color: #333333;
      }
      p{
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 33px;
        letter-spacing: 0px;
        color: $secondary-color;
      }
    }
    .goods-content{
      padding: 42px 0 107px 0;
      margin: 0;
    }
  }
}
.index-footer{
  height: 397px;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #F5F5F5;
}