@import '../../assets/style/val';
.prd-item{
  width: 490px;
  margin-bottom: 22px;
  &:last-child{
    margin-bottom: auto;
  }
  .prd-image,
  .prd-desc{
    display: inline-block;
    vertical-align: top;
  }
  .prd-image{
    width: 88px;
    height: 88px;
    line-height: 88px;
    overflow: hidden;
    text-align: center;
    padding: 5px;
    margin-left: 31px;
    border: 1px solid $dividing-line-color;
  }
  .prd-image > img{
    width: 100%;
    vertical-align: middle;
  }
  .prd-desc{
    width: 303px;
    padding: 0 28px;
  }
  .prd-desc-title{
    color: $font-secondary-color;
  }
  .prd-desc-info{

  }
  .prd-desc-color{
    margin-top: 17px;
    color: $font-third-color;
  }
  .prd-desc-price{
    margin-top: 17px;
  }

  .prd-price {
    color: $secondary-color;
  }

  .prd-price > i{
    font-style: normal
  }

  .prd-count{
    margin-left: 6px;
    color: $font-secondary-color;
  }

  .prod-desc-receive{
    position: relative;
    bottom: -35px;
  }
  .icon-verify{
    display: inline-block;
    width: 13px;
    height: 10px;
    background-image: url('./images/verify.png');
    background-position: center;
    margin-right: 7px;
  }
  .verify{
    color: $font-secondary-color;
  }
}
