@import "../../assets/style/val";
@import '../../assets/icon/icon';
.contentBox{
  margin: 0 auto;
	width: 1190px;
	.red{
		color: $secondary-color; 
	}
	ul li{
		list-style: none;
	}
	.filterBox{
		padding: 10px 0 8px 20px;
		font-size: 14px;
		.classifyBox{
			overflow: hidden;
			border-bottom: 1px solid $dividing-line-color;
			box-sizing: border-box;
			padding-left: 10px;
			.filterLabel{
				line-height: 60px;
				float: left;
				width: 42px;
			}
			.classifyUl{
				width: 1110px;
				padding: 0;
				margin: 0;
				display: inline-block;
				line-height: 60px;
				padding-left: 35px;
				box-sizing: border-box;
				color: $font-secondary-color;
				li{
					float: left;
					margin-right: 58px; 
					color: $font-primary-color;
					cursor: pointer;
				}
			}
		}
		.sortBox{
			position: relative;
			overflow: hidden;
			padding-left: 10px;
			box-sizing: border-box;
			border-bottom: 1px solid $dividing-line-color;
			.filterLabel{
				float: left;
				line-height: 60px;
			}
			.sortCtent{
				float: left;
				line-height: 60px;
				.default{
					padding-left: 35px;
					cursor: pointer;
				}
				.priceFilter{
					margin-left: 72px;
					.priceMark{
						margin-left: 8px;
						display: inline-block;
						height: 20px;
						vertical-align: middle;
						width: 8px;
						margin-right: 58px;
						.incre, .descr{
							display: block;
							cursor: pointer;
							height: 8px;
							background: url(../../assets/images/price_sort_sprite.png);
							background-position: -4px 0;
						}
						.descr{
							background-position: -4px -7px;
						}
						.incre:hover, .incre.cur{
							background-position: -44px 0px;
						}
						.descr:hover, .descr.cur{
							background-position: -24px -7px;
						}
					}
				}
				.inputBox{
					margin-right: 10px;
					input{
						box-sizing: border-box;
						padding: 10px 0px 10px 9px;
						width: 80px;
						height: 32px;
						border: solid 1px $dividing-line-color;
					}
				}
				.prdTotal{
					position: absolute;
					right: 9px;
					i{
						font-style: normal;
					}
				}
			}
		}


	}
	.prdList{
		margin-top: 10px;
		overflow: hidden;
		border-bottom: 1px solid $dividing-line-color;
	}
}