@import "../../assets/style/val.scss";
.notFind-wrapper{
  width: 480px;
  margin: 87px auto;
  .notfindImgWrapper{
    text-align: center;
    > img {

    }
  }
  .notfindTip{
    font-size: 34px;
    color: $font-primary-color;
    text-align: center;
  }
  .notfindBack{
    text-align: center;
    margin: 100px auto 90px auto;
  }
}