@import '../../assets/style/val';
$border-width: 2;
.wrapper{
  width: $width - $border-width;
  margin: 20px auto;
  padding: 40px 0;
  border: 1px solid $dividing-line-color;
  text-align: center;
  .describe-item{
    display: inline-block;
    width: 300px;
    margin-right: 80px;
    vertical-align: top;
  }
  .describe-item:last-child{
    margin-right: auto;
  }
  .describe-title{
    padding-bottom: 20px;
    border-bottom: 1px dashed $dividing-line-color;
    font-size: 16px;
    color: $font-primary-color;
    text-align: left;
  }
  .describe-info{
    margin-top: 36px;
  }
  .describe-item{
    text-align: left;
    margin-bottom: 18px;
    &:last-child{
      margin-bottom: auto;
    }
    > label,
    > span{
      display: inline-block;
    }
    > label{
      color: $font-third-color;
      // width: 100px;
      // text-align: right;
    }
    > span{
      color: $font-secondary-color;
      padding-left: 16px;
    }
    .price{
      color: $secondary-color;
      font-weight: 800;
    }
  }

}